.video-player {
  .dplayer {
    width: 640px;
    height: 360px;
  }
}

.seek-value-label {
  font-size: 12px;
}

#seektime-setting-tracker {
  margin-bottom: 10px;
  white-space: nowrap;
}

button {
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  transition-duration: 0.4s;
}

.activate-button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}