.video-player {
  .dplayer {
    width: 640px;
    height: 360px;
  }
}

#decSeekTimeBtn {
  cursor: pointer;
}

#incSeekTime {
  cursor: pointer;
}

#seektime-setting-tracker {
  margin-bottom: 10px;
}